 .cabecalho{  
    background-color: #ffffff;
    color: black;
}

.imagem-logo{
    width: 10%;
}

.escola{
background-image: linear-gradient(#ffffff,#34dd00);
color: black;
display: flex;
justify-content: center;
align-items: center;
}

.escola-imagem{

    width: 15%;
    justify-content: end;
    align-items: flex-end;
}

.escola-titulo{
    text-align: center;
font-size: 15mm;
}

.escola-textoum{
color: rgb(54, 48, 48) ;
width: 80%;
font-size: 15mm;
text-align: center;
}

.escola-textodois{
    font-size: larger;
    font-style: unset;
}

.escola-conteudo{
    width: 90%;
}
.estudante-imagem{
    width: 120px;
}

.estudantes-titulo{
    text-align: center;
    font-size: 15mm;
}

.estudantes{
    background-image: linear-gradient(#34dd00,#34dd00);
    padding: 120px;
}

.estudante-icon{
    padding: 2px;
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.todos-estudantes{
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20% 20%;
}

.estudante-nome{
    color: rgb(54, 48, 48) ;

}